.conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}

body {
    background-color: #121212; /* Fond sombre */
    color: #ffffff; /* Couleur du texte sur fond sombre */
}

.card {
    background-color: #3498db; /* Couleur bleue électrique pour les cartes */
    color: #ffffff; /* Couleur du texte sur les cartes bleues */
    height: 100%; /* Définit la hauteur de la carte à 100% de son parent */
    display: flex; /* Utilise Flexbox */
    flex-direction: column; /* Aligne les éléments enfants en colonne */
    justify-content: space-between; /* Espace équitablement les éléments enfants */
    position: relative; /* Position relative pour les effets de néon */
    padding: 5px; /* Ajout de marge intérieure pour éviter que le texte ne soit coupé par le glow */
    box-shadow: 0 0 5px #3498db, 0 0 5px #3498db; /* Effet de néon */
    border-radius: 10px; /* Coins arrondis */
}

.play-button-container {
    position: relative;
    top: 80px; /* Ajustez la valeur */
}

.play-button {
    background-color: #138cdd;
    color: #ffffff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px; /* Ajout de marge intérieure pour éviter que le texte ne soit coupé par le glow */
    box-shadow: 0 0 5px #3498db, 0 0 5px #3498db; /* Effet de néon */
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}