body {
    background-color: #121212; /* Fond sombre */
    color: #ffffff; /* Couleur du texte sur fond sombre */
    /* Centrer tout le contenu */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0; /* Supprimer les marges par défaut */
    padding: 0; /* Supprimer les rembourrages par défaut */
}

.card {
    background-color: #3498db; /* Couleur bleue électrique pour les cartes */
    color: #ffffff; /* Couleur du texte sur les cartes bleues */
    padding: 20px; /* Ajout de marge intérieure pour éviter que le texte ne soit coupé par le glow */
    box-shadow: 0 0 5px #3498db, 0 0 5px #3498db; /* Effet de néon */
}

.custom-input {
    border: 2px solid #0d47a1; /* Bordure bleu foncé */
    border-radius: 5px; /* Coins arrondis */
    padding: 8px; /* Ajout de marge intérieure */
    width: 100%; /* Largeur pleine */
}


.custom-button {
    position: absolute; /* Position absolue pour placer le bouton */
    top: 10px; /* Distance depuis le haut */
    left: 10px; /* Distance depuis la gauche */
    background-color: #3498db; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    padding: 10px 20px; /* Ajoute de l'espace à l'intérieur du bouton */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur au survol */
    font-size: 16px; /* Taille de police */
    transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}